@font-face {
  font-family: "KimDaegeon";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
